<!DOCTYPE html>
<html lang="en">
    <head>
        <title>4chan</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/homepage.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/css/boards.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/css/threads.css"/>        
        <!--<link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css">-->
    </head>