<% include partials/header %>
    <body id="homePageBody">
        <header>
            <div id="logo">
                <a href="/" title="Home">
                    <img src="/assets/img/4chan-logo.png" id="logoImg"/>
                </a>
            </div>
        </header>
        <!--Look into vue.js cuz why not ?-->
        <div id="main">
            <!--1st box -->
            <div class="box" id="announcement">
                <div class="box-inner">
                    <div class="box-top">
                        <h2>What is 4chan?</h2>
                        <a class="close-button" id="close-button"></a>
                    </div>
                    <div class="box-content">
                        <div id="home-announcement-text">
                            <p>4chan is a simple image-based bulletin board where anyone can post comments and share
                                images. There are boards dedicated to a variety of topics, from Japanese animation and
                                culture to videogames, music, and photography. Users do not need to register an account
                                before participating in the community. Feel free to click on a board below that
                                interests you and jump right in!</p>
                            <br>
                            <p>Be sure to familiarize yourself with the <a href="/rules">Rules</a> before posting,
                                and read the <a href="/faq" title="Frequently Asked Questions">FAQ</a> if you wish to
                                learn more about how to use the site.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--2nd box -->
            <div class="box" id="all-boards">
                <div class="box-inner">
                    <div class="box-top">
                        <h2>Boards</h2>
                        <!--<a href="#" class="close-button" id="close-button"></a>-->
                    </div>
                    <div class="box-content">
                        <ul>
                        <% for(var i = 0; i < boards.length; i++){ %>
                            <li>
                                <a href="/board/<%=boards[i].slug%>" onclick="showDisclaimer(event)"><%= boards[i].name %></a>
                            </li>
                        <% } %>
                        </ul>
                    </div>
                </div>
            </div>
             <!-- 3rd box -->
            <div class="box" id="threads">
                <div class="box-inner">
                    <div class="box-top">
                        <h2>Popular Threads</h2>
                        <!--<a href="#" class="close-button" id="close-button"></a>-->
                    </div>
                    <div class="box-content">
                        Nothing here yet...
                    </div>
                </div>
            </div>
             <!--4th box -->
            <div class="box" id="stats">
                <div class="box-inner">
                    <div class="box-top">
                        <h2>Stats</h2>
                    </div>
                    <div class="box-content">
                        <div class="cell">
                            <b>Total Posts:</b>
                            2,321,202,540
                        </div>
                        <div class="cell">
                            <b>Current Users:</b>
                             205,138
                        </div>
                        <div class="cell">
                            <b>Active Content:</b>
                            742 GB
                        </div>
                    </div>
                </div>
            </div>
            <footer id="home-footer">
                <div id="home-footer-container">
                    <ul>
                        <li id="first-home"><a href="/">Home</a></li>
                        <li><a href="/">News</a></li>
                        <li><a href="/">Blog</a></li>  
                        <li><a href="/">FAQ</a></li>  
                        <li><a href="/">Rules</a></li>  
                        <li><a href="/">Support 4chan</a></li>  
                        <li><a href="/">Advertise</a></li>  
                        <li><a href="/">Press</a></li>  
                        <li><a href="/">日本語</a></li>  
                    </ul>
                </div>
                <br class="clear">
            </footer>
        </div><!-- #main -->
        <!--disclaimer -->
        <div id="back-drop" style="display: none"></div>
        <div id="disclaimer-dialog" style="display: none">
            <div class='header'>
                <h2>Disclaimer</h2>
                <a class='close-button' id='close-button-disclaimer'></a>
            </div>
            <div class="body">
                <p>To access this section of 4chan (the "website"), you understand and agree to the following:</p>
                <ol>
                    <li>The content of this website is for mature audiences only and may not be suitable for minors. If you
                        are a minor or it is illegal for you to access mature images and language, do not proceed.</li>
                    <br>
                    <li>This website is presented to you AS IS, with no warranty, express or implied. By clicking "I Agree,"
                        you agree not to hold 4chan responsible for any damages from your use of the website, and you
                        understand that the content posted is not owned or generated by 4chan, but rather by 4chan's users.
                    </li>
                    <br>
                    <li>As a condition of using this website, you agree to comply with the "
                        <a href="/rules" target="_blank" title="4chan Rules">Rules</a>" of 4chan, which are also linked on
                        the home page. Please read the Rules carefully, because they are important.
                    </li>
                </ol>
                <div class="disclaimer-footer">
                    <button data-url="" id="accept-disclaimer">Accept</button>
                    <button onclick="exitDisclaimer()">Cancel</button>
                </div>
            </div>
        </div>

    </body>
<script src="/assets/js/home-main.js"></script>
<% include partials/footer %>