<% include partials/header %>
    <body id="homePageBody">
        <header>
            <div id="logo">
                <a href="/" title="Home">
                    <img src="/assets/img/4chan-logo.png" id="logoImg"/>
                </a>
            </div>
        </header>
        Welcome to 4chan!
        <h1>Boards</h1>
        <% for(var i = 0; i < boards.length; i++){ %>
            <p><a href="/board/<%=boards[i].slug%>"><%= boards[i].name %> </a></p>
        <% } %>
    </body>
<% include partials/footer %>