#homePageBody{
    margin: auto;
    text-align: left;
    width: 57.69em; /*This is what 4chan has specified...*/
    min-width: 750px;
}
#logo{
    font-size: 1px;
    line-height: 0;
    overflow: hidden;
    margin: 0 auto;
}
#logoImg {
    margin: auto;
    display: block;
    border: none;
    width: 300px;
    height: 120px;
}