#homePageBody{
    margin: auto;
    text-align: left;
    width: 57.69em; /*This is what 4chan has specified...*/
    min-width: 750px;
}
#logo{
    font-size: 1px;
    line-height: 0;
    overflow: hidden;
    margin: 0 auto;
}
#logoImg {
    margin: auto;
    display: block;
    border: none;
    width: 300px;
    height: 120px;
}
#home-announcement-text{
    min-height: 91px;
}
#stats .box-content {
    margin-top: 5px;
    text-align: center;
}
#all-boards a {
    color: #800;
    text-decoration: none;
}
#all-boards a:hover {
    color: #e00;
    text-decoration: underline;
}

#disclaimer-dialog{
    top: 50px;
    border: 1px solid;
    text-align: left;
    position: absolute;
    margin: auto auto auto -151px;
    width: 300px;
    box-shadow: 2px 2px 0 1px rgba(0,0,0,0.10);
    background: #fff;
    left: 50%;
}

#disclaimer-dialog .body {
    padding: 8px;
}

#disclaimer-dialog li {
    display: list-item;
    list-style: decimal inside;
}

.disclaimer-footer {
    margin-top: 20px;
    text-align: center;
}

#home-footer{
    font-size: 93%;
    text-align: center;
    clear: both;
    border-top: 1px solid;
}

#home-footer ul{
    display: table;
    margin: auto;
    width: 750px;
}
#home-footer li#first-home {
    border-left: 1px solid;
}
#home-footer-container{
    width: 76%;
    margin: 0 auto;
}
#home-footer li a{
    color: #800;
    text-decoration: none;
}
#home-footer li a:hover{
    color: #c63;
}
#home-footer li {
    background: #fed;
    display: block;
    float: left;
    border: 1px solid;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2px;
    border-left: none;
    margin-top: -1px;
    padding-top: 2px;
}