/*stlyle.css contains css id and classes that will be used site wide.*/
body{
    background: #ffe url("/assets/img/bg/fade.png") top repeat-x;
    color: #800;
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    text-align: center;
}

a:visited {
    color: blue;
}
a:hover{
    color: red;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

h1 {
    font-family: Tahoma,Bitstream Vera Sans;
    font-size: 197%;
    font-weight: bold;
}

h2 {
    font-size: 131%;
    font-weight: bold;
}

h3 {
    font-size: 100%;
    font-weight: bold;
}
hr {
    border: none;
    border-top: 1px solid #D9BFB7;
    height: 0;
}
hr.ninety{
    width: 90%;
}
hr.below-title{
    width: 728px;
    max-width: 100%;
}
hr.short-length{
    width: 468px;
    max-width: 100%;
}
#back-drop{
    display: block;
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(128,128,128,0.5);
    text-align: center;
}

#announcement{
    color: #000;
}

.box{
    border: 1px solid;
    zoom: 100%;
    margin-bottom: .5em;
    padding-bottom: .5em;
    background: #fff;
}

.box-inner, #disclaimer-dialog .body{
    background: #fff;
}

.box-top, #disclaimer-dialog .header{
    position: relative;
    zoom: 100%;
    padding-left: .5em;
    line-height: 2em;
    background: #fca;
    color: #800;
}

#announcement .box-content {
    line-height: 1.5em;
}

.box-content{
    font-size: 93%;
    padding: .25em .5em 0 .5em;
}

#announcement .box-top, #disclaimer-dialog .header{
    background: #800;
    color: #fff;
}

.close-button{
    background: #800 url("/assets/img/tools/icon-close-red.png");
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.cell{
    display: inline-block;
    width: 33%;
}

br.clear{
    height: 0;
    line-height: 0;
    clear: both;
}

.text-center {
  text-align: center;
}

.legal{
    padding:10px;
}